.prijavaMain {
  width: 100%;
  padding-top: 200px;
  padding-bottom: 300px;
  margin: auto auto;
}
.signin-section {
  width: 100%;
  margin: auto auto;
  max-width: 500px;
  height: 300px;
  background-color: rgb(204, 219, 214);
  text-align: center;
}

.signin-form {
  height: 100%;
}
.signin {
  flex-wrap: wrap;
}
.signin-form h2 {
  margin-bottom: 20px;
}
.text-box {
  padding-right: 100px;
  margin-bottom: 20px;
}

@media (max-width: 900px) and (min-width: 390px) {
  .prijavaMain {
    padding-top: 250px;
  }
}
