.gallery {
  padding-top: 150px;
  width: 100%;
  min-height: 500px;
  display: grid;
}

.container {
  padding-top: 50px;
  margin-bottom: 0px;
  max-width: 950px;
  margin: auto auto;
  /* background-color: rgb(204, 219, 214); */
}
.img-container img {
  margin: 10px;
  height: 300px;
  width: 440px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.img-container {
  text-align: center;
}
.img-container img:hover {
  transform: scale(1.1);
}

.modal {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  width: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease-out;
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}
.full-img {
  position: absolute;
  max-height: 500px;
  max-width: 1100px;
  height: 70%;
  top: 25%;
  right: 50%;
  transform: translate(50%, -5%) scale(0.5);
  transition: all 0.25s ease-out;
}

.full-img.open {
  transform: translate(50%, -5%) scale(1);
}

@media (max-width: 900px) and (min-width: 320px) {
  .gallery {
    width: 100%;
  }
  .img-container {
    text-align: center;
  }
  .img-container img {
    max-width: 310px;
  }
  .full-img {
    max-height: 400px;
    max-width: 320px;
  }
  .container {
    padding-top: 270px;
  }
}
