.contact-info {
  margin-top: 70px;
  margin-bottom: 70px;
}

.contact-info h2 {
  color: rgb(162, 206, 184);
  margin-bottom: 2vh;
}
.contact-info p {
  margin-top: 0;
}
.glide {
  margin: 0 !important;
  padding: 0 !important;
}
.pic1 {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.onama {
  max-width: 300px;
  color: white;
  position: fixed;
  top: 40vh;
  margin-left: 15vw;
}

.container {
  padding-top: 50px;
  margin-top: 70px;
  margin-bottom: 0px;
  /* background-color: rgb(204, 219, 214); */
  display: flex;
  flex-direction: row;
}

.ime-proizvoda {
  margin-bottom: 0;
  color: rgb(162, 206, 184);
}

.vise-o-proizvodu a {
  padding: 10px;
  text-decoration: none;
  background-color: rgb(255, 197, 50);
}
.vise-o-proizvodu a:hover {
  background-color: rgba(255, 197, 50, 0.8);
}
/* .konkretan-proizvod {
  visibility: hidden;
  text-align: center;
  position: fixed;
  top: 25vh;
  left: 2vw;
  flex-direction: column;
  max-width: 25vw;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
}
.konkretan-proizvod.active {
  visibility: visible;
  transform: scale(1);
}
.konkretan-proizvod2 {
  text-decoration: none;

  visibility: hidden;
  text-align: center;
  position: fixed;
  top: 25vh;
  right: 2vw;
  flex-direction: column;
  max-width: 25vw;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
}
.konkretan-proizvod2.active {
  visibility: visible;
  transform: scale(1);
} */

.prizvodiZaManjiScreen {
  display: flex;
  margin-top: 70px;
  flex-direction: row;
  justify-content: center;
}

.konkretan-proizvod3 {
  /* display: none; */
  max-width: 25vw;
  visibility: hidden;
  display: flex;
  margin-left: 2vw;
  margin-right: 2vw;
  text-align: center;
  flex-direction: column;
  transform: scale(0);
  transition: all 0.8s ease-in;
}
.konkretan-proizvod3.active {
  visibility: visible;
  transform: scale(1);
}
.konkretan-proizvod4 {
  /* display: none; */
  max-width: 25vw;
  display: flex;
  margin-left: 2vw;
  margin-right: 2vw;
  text-align: center;
  flex-direction: column;
  transform: scale(0);
  transition: all 0.8s ease-in;
}
.konkretan-proizvod4.active {
  visibility: visible;
  transform: scale(1);
}
.konkretan-proizvod5 {
  /* display: none; */
  max-width: 25vw;
  display: flex;
  margin-left: 2vw;
  margin-right: 2vw;
  text-align: center;
  flex-direction: column;
  transform: scale(0);
  transition: all 0.8s ease-in;
}
.konkretan-proizvod5.active {
  visibility: visible;
  transform: scale(1);
}

.vise-o-proizvodu a {
  text-decoration: none;
  color: black;
}

.contact-section {
  margin-right: 10vw;
  width: 100%;
  text-align: center;
}
.contact {
  display: flex;
  flex-direction: column;
}
.contact-form {
  width: 100%;
  display: block;
}
.contact-section h2 {
  margin: 5px;
}

.text-box {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;

  margin-bottom: 20px;
  height: 45px;
  width: 100%;
  display: flex;
}

.text-area {
  width: 100%;
  margin-top: 0;
  margin-bottom: 3vh;
  outline: none;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgb(230, 230, 230);
  font-size: 15px;
  background-color: rgb(66, 66, 66);
  transition: 0.3s;
}

.text-area:hover {
  background-color: rgba(66, 66, 66, 0.9);
}

.send-btn {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 45px;
  justify-content: center;
  display: flex;
}

.map-section {
  max-width: 500px;
  margin: 0 auto;
}
.map-section iframe {
  width: 500px;
  height: 400px;
}

@media (max-width: 900px) and (min-width: 320px) {
  .map-section {
    margin-top: 70px;
    max-width: 310px;
  }
  .map-section iframe {
    margin: auto auto;
    width: 310px;
    height: 200px;
  }
  .container {
    flex-direction: column;
  }
  .contact {
    padding-left: 25vw;
  }
  .contact-form {
    justify-content: center;
  }
  .text-box {
    width: 50vw;
    border: none;
  }

  .text-area {
    width: 50vw;
    border: none;
  }
  .prizvodiZaManjiScreen {
    display: flex;
    margin-top: 70px;
    flex-direction: row;
    justify-content: center;
  }
  .konkretan-proizvod3 {
    display: flex;
    margin-left: 2vw;
    margin-right: 2vw;
    text-align: center;
    flex-direction: column;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
  }
  .konkretan-proizvod3.active {
    visibility: visible;
    transform: scale(1);
  }
  .konkretan-proizvod4 {
    display: flex;
    margin-left: 2vw;
    margin-right: 2vw;
    text-align: center;
    flex-direction: column;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
  }
  .konkretan-proizvod4.active {
    visibility: visible;
    transform: scale(1);
  }
  .konkretan-proizvod5 {
    display: flex;
    margin-left: 2vw;
    margin-right: 2vw;
    text-align: center;
    flex-direction: column;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
  }
  .konkretan-proizvod5.active {
    visibility: visible;
    transform: scale(1);
  }
}
