h2 {
  color: rgb(162, 206, 184);
}

.prijavaMain {
  width: 100%;
  padding-top: 200px;
  padding-bottom: 300px;
  margin: 0;
  transform: scale(0);
  transition: all 0.8s ease-in-out;
}
.prijavaMain.active {
  visibility: visible;
  transform: scale(1);
}
.signin-section {
  width: 100%;
  margin: auto auto;
  max-width: 500px;
  height: 300px;
  /* background-color: rgb(204, 219, 214); */
  text-align: center;
}

.signin-form {
  height: 100%;
}
.signin {
  margin: auto auto;
  flex-wrap: wrap;
}
.signin-form h2 {
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 60px;
}
.text-box {
  padding-right: 100px;
  margin-bottom: 20px;
}

.pristup-kosarici {
  visibility: hidden;
}
.pristup-kosarici.active {
  visibility: visible;
}
.signin-form a {
  background-color: rgb(66, 146, 120);
  border-color: black;
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  color: black;
}

@media (max-width: 900px) and (min-width: 390px) {
}
