html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  /* background-color: rgb(162, 206, 184);*/
  background-color: rgb(42, 42, 42);
}

* {
  font-family: "Roboto", sans-serif;
}
p {
  color: rgb(189, 189, 189);
}

.opg-name {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  color: white;
}

nav {
  justify-content: space-between;
  /* background-color: rgb(66, 146, 120); */
  /* background-color: rgba(0, 0, 0, 0.3); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.ul-nav {
  margin: 0;
  display: flex;
  float: right;
}

.ul-nav li {
  margin: 0;
  display: flex;
}

.ul-nav li a {
  padding: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
.ul-nav li a:hover {
  /* background-color: rgb(83, 185, 153); */
  /* background-color: rgba(0, 0, 0, 0.2); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}
.current {
  font-weight: bold;
}

main {
  /* background-image: linear-gradient(
    to bottom,
    rgb(162, 206, 184),
    rgb(110, 185, 160)
  ); */

  /* background-color: rgb(130, 219, 190); */
  background-color: rgb(42, 42, 42);
}
main h3 {
  text-align: center;
}

.hamburger-menu {
  position: absolute;
  top: 20px;
  right: 0px;
  display: none;
  transform: rotate(90deg);
  height: 65px;
  width: 65px;
}
.bar {
  border-radius: 10px;
  width: 30px;
  height: 60px;
  background-color: rgb(0, 0, 0);
  margin: 5px;
  transition: 0.4s;
}

.tree {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.nav-pic {
  margin: 5px;
}

.text-box {
  padding: 10px;
  margin-top: 0;
  margin-bottom: 10px;
  outline: none;
  border: none;
  color: rgb(230, 230, 230);
  font-size: 20px;
  /* border: 2px solid rgba(0, 0, 0, 0); */
  background-color: rgb(66, 66, 66);
  transition: 0.3s;
}

.text-box:hover {
  background-color: rgba(66, 66, 66, 0.9);
}
.text-box:focus {
  background-color: rgba(66, 66, 66, 0.9);
}
::placeholder {
  color: rgba(230, 230, 230, 0.8);
}
.send-btn {
  background-color: rgb(255, 197, 50);
  padding: 10px;
  color: black;
  margin-bottom: 10px;
  width: 200px;
  height: 40px;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.3s;
}
.send-btn:hover {
  background-color: rgba(255, 197, 50, 0.8);
}
.container {
  max-width: 1000px;
  margin: auto auto;
  /* background-color: rgb(204, 219, 214); */
}

.ul-foot {
  display: flex;
}

.ul-foot li {
  display: flex;
}

.ul-foot li a {
  display: flex;
  margin-right: 20px;
}
footer a {
  display: flex;
  text-align: center;
}

.na-vrh {
  text-decoration: none;
  color: rgb(189, 189, 189);
  font-weight: bold;
}
.footer-pic {
  padding: 0px;
}
footer {
  height: 94px;
  background-color: rgb(58, 58, 58);
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-bottom: 0;
}

@media (max-width: 900px) and (min-width: 320px) {
  nav {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    display: flex;
    position: fixed;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: left;
  }
  .hamburger-menu {
    display: flex;
  }

  .tree {
    width: 80px;
    border-radius: 50%;
  }

  .opg-name {
    font-size: 2.3rem;
    align-items: center;
  }
  .change .bar1 {
    transform: rotate(-45deg) translate(15px, 15px);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    transform: rotate(45deg) translate(-15px, 15px);
  }

  .ul-nav {
    width: 100%;
    padding: 0px;
    display: none;
    flex-direction: column;
    transition: all 0.9s ease;
  }

  .ul-nav li {
    margin: 0;
    display: flex;
    width: 100%;
  }

  .ul-nav li a {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
  .ul-nav li a:hover {
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0)
    );
  }
  .ul-nav.active {
    display: flex;
  }
  .current {
    font-weight: bold;
  }
  body {
    display: block;
    margin: 0;
    padding-bottom: 0px;
    /* background-color: rgb(162, 206, 184); */
  }

  main h3 {
    text-align: center;
  }

  .ul-foot {
    display: flex;
  }

  .ul-foot li {
    display: flex;
  }

  .ul-foot li a {
    display: flex;
    margin-right: 0px;
  }
  footer a {
    display: flex;
    text-align: center;
  }

  .na-vrh {
    text-decoration: none;
    font-weight: bold;
  }
  .footer-pic {
    padding: 0px;
    margin: 0px;
  }
  .foot-links {
    width: 100%;
    margin: 0px;
  }
  footer {
    height: 94px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-bottom: 0;
  }
}
